body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.project {
  border-radius: 0.5rem;
}

.project .btn {
  margin-top: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 123, 255, 0.5) transparent;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 4px;
}
