body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.project {
  border-radius: 0.5rem;
}

.project .btn {
  margin-top: 0.5rem;
}
